<%= render  "shared/errors", object: @task %>

<%= form_with model: @task, data: { turbo: false } do |f| %>
  <p>
    <%= f.label :title, "Título" %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description, "Descrição" %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>
