<p>
  <%= task.id %> | 
  <%= task.title %> | 
  <% if action_name == 'index' %>
    <%= task.description.truncate(5) %> | 
  <% elsif action_name == 'show' %>
    <%= task.description %> | 
  <% end %>
  <br>
  <%= link_to 'Detalhes', task %> | 
  <%= link_to 'Editar', edit_task_path(task) %> | 
  <%= link_to 'Apagar', task_path(task), data: { 'turbo-method': :delete } %>
</p>
<hr>
